.App {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom,#ee3910,#362d52);
  /* background: linear-gradient(to bottom,#db2b11,#362d52); */
  padding-bottom: 20px;
}

.main {
  margin: auto;
}

.nav {
  margin-left: 5px;
}